.item{
    text-transform: uppercase;
    cursor: pointer;
    transition: 0.2s linear; 
    color: #4213ff;
    font-size: 36px;
    font-weight: 700;
    user-select: none;
}

.item:hover{
    transform: scale(105%);
}


@media (max-width: 650px) {
    .item{
        font-size: 30px;
    }
}

@media (max-width: 450px) {
    .item{
        font-size: 20px;
    }
}